form{
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-variant: small-caps;
    color: #CC6000;
    text-align: left;
    text-decoration: underline;
    text-justify: inter-word;
    text-overflow: ellipsis;
}
    
body{
    background-color: #6060FF;
<<<<<<< HEAD
    background-clip: border-box;
    background-origin: content-box;
    background-position: center;
    background-repeat: repeat-x;
=======
>>>>>>> 63d6777e7ed9b31722bc965651e42589649021f7
}