form{
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-variant: small-caps;
    color: #CC6000;
    text-align: left;
    text-decoration: underline;
    text-justify: inter-word;
    text-overflow: ellipsis;
}
    
body{
    background-color: #8080FF;
    background-clip: border-box;
    background-origin: content-box;
    background-position: center;
    background-repeat: repeat-x;
}